* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  margin: 40px auto;
  padding: 40px;
  border: 1px solid #000;
  border-radius: 10px;
}

.container h1 {
  margin-bottom: 50px;
}

.container .content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.container .form-group {
  width: 49%;
}

.container button {
  margin-bottom: 20px;
}

.container span {
  font-weight: 500;
}

.container .result {
  display: flex;
}

.container .resultLine {
  margin-left: 10px;
  font-weight: bold;
}
